body{
  background-color: rgb(177, 223, 242);
}
.App{
  border: 2px solid rgb(8, 8, 130);
  margin: 100px 30%;
  padding: 50px;
  text-align: center;
  border-radius: 25px;
}
.App h2{
  color: rgb(8, 8, 130);
  font-size: 27px;
}
.App ul{
  list-style: "📌 ";
  cursor: pointer;
  font-size: 17px;
  margin: 20px;
}
.App input{
  width: 250px;
  height: 40px;
  border-radius: 17px;
  margin: 20px;
  padding: 5px;
  outline: 0;
  border: 1px solid rgb(8, 8, 130);
}
.App button{
  display: block;
  margin: auto;
  width: 150px;
  height: 30px;
  background-color: rgb(8, 8, 130);
  color: white;
  border-radius: 5px;
  border: 0;
}
.App ul li{
  word-break: break-all;
  margin: 5px 5px;
}
.diff{
  list-style: "🥳";
  text-decoration: line-through;
  margin: 0 8px;
}
.div11{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ul-span{
  font-size: 15px;
}